@charset "UTF-8";

main{
    background-image: linear-gradient(to right,#000000,#FFFFFF 10px,#638BFF );
    width: 200px;
    height: 240px;
    margin: auto;
    padding-bottom: 30px;
    padding: 10px;
    border-radius: 20px;
    margin-top: 200px;
    box-shadow: 10px 10px 15px violet ;
    


}
body{
    background-image: url(imagens/ketia3.png);
    box-shadow:10px 10px 100px  violet;
}

.pai{
    margin: auto;
    margin-right: 100px;
    padding: 80px;
    text-align: center;
}
p{
    font-family: Arial;
    font-size: 19px;   
}

    .b{
        
        margin: auto;
        background-color:#5F07E3;
        font-size: 17px;
        height:25px;
    }

    div{
        display: inline-block;
    }

