@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


@font-face{
    font-family:'Adroid';
    src: url('Fontes/idroid.zip') format(opentype);
    font-weight: normal;
}
body{
    background-color: var(--cor0);
}

:root{
    --cor0:#ebe5c5;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e;

    --fonte-padrao:Arial, verdana, helvetica, sans-serif;
    --fonte-destaque: "Bebas Neue", sans-serif;
    --fonte-Adroid:'Android' sans-serif ;

}
header{

    background-image: linear-gradient(to bottom,#3ddc84,#1a5c37);
    padding-top: 40px;
    border:
    font-family: 'Times New Roman', Times, serif;
    min-height: 150px;

}
header>h1{
    
    text-align: center;
    color: white;
    font-family: Impact, Haettensch, sans-serif;
   margin-bottom: 20px;
   text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.377);
}
header>p{
     text-align: center;
     color: white;
     font-size: 1.2em;
     max-width: 500px;
     margin: auto;
     text-shadow: 2px 2px 10px black;
     
     
}
nav{
    
    background-color: var(--cor4);  
    padding: 15px;
}
nav>a{
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 1em;
    font-weight: bold;
}

nav>a:hover{

   text-decoration: underline;
   background-color:var(--cor3);
   padding: 10px;
   color: var(--cor5);
   border-radius: 5px;
   transition-duration: 1s;
}
main{
    text-align: justify;
    padding: 20px;
    background-color: white;

    min-width: 300px;
    max-width: 600px;
    margin: auto;
    box-shadow: 0px 0px 10px black;
    margin-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius:10px ;
    
}
    img{
             width: 100%;
    }
    article>h2{
        background-image: linear-gradient(to right, #83e1ad,white);
        text-indent: 8px;
    }
    article>h1{
        background-image: linear-gradient(to right, #83e1ad,white);
    }

    main p{
        padding: 20px;
        text-indent: 30px;
        text-align: justify;
        line-height: 2em;
        margin: 15px 0px;
        
    }
    strong{
        color:#2fa866;
    }
    
   article>p>a{
        background-color:var(--cor1);
        text-decoration: none;
        padding: 2px 6px;
        color: var(--cor5);
        font-weight: bold;
    }
    article a:hover{
         text-decoration: underline;
    }
        main img.piquena{
            max-width: 350px;
            display: block;
            margin: auto;
            
        }

        footer{
            background-color:var(--cor3);
            font-weight: bold;
            text-align: center;
            color: #1a5c37;
            font-size: 0.8em;
            text-shadow: 10px 10px 20px black;
            padding: 5px;
        }

        footer a {
            text-decoration: none;
            color:white;
            background-color: #2fa866;
            font-size: 0.8em;
            
            
        }
        footer a:hover{
            text-decoration: underline;
            background-color: #2fa866;
        }
        aside{
            background-color: var(--cor1);
            border-radius: 10px;
            padding: 10px;
            box-shadow: 3px 3px 8px black;
            margin-right: 50px;
            margin: auto;
            
            
        }
        aside>ul{
            list-style-position: inside;
            
            list-style-type: '\2714';
            padding-left: 30px;
            columns: 2;
            
        }
        aside a{
            background-color:var(--cor1);
            text-decoration: none;
            padding: 2px 6px;
            color: var(--cor5);
            font-weight: bold;
        }
        aside h3{
            background-color: var(--cor4);
            padding: 10px;
            color: white;
            border-radius: 10px 10px 0px 0px;

        }
        a.externo::after{
            content: '\1f517';
        }
        div.video{
            background-color: #1a5c37;
            margin: 0px -20px 0px -20px ;
            padding: 20px;
            position: relative;
            padding-bottom: 58%;

            
        }
        div.video>iframe{
          position: absolute;
          width:90% ;
          height: 90%;
           top: 5%;   
           left: 5%;       
    
            
        }